yakina_data.csv

In [93]:
import pandas as pd

In [94]:
y = pd.read_csv('./datasets/task_2/yakina_data.csv')
y[20:29]

    Duration          Date  Pulse  Maxpulse  Calories
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN

find what data types the dataframe have

In [95]:
y.dtypes

Duration      int64
Date         object
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

1. convert the odd string in Date column to a format like others.

In [96]:
odd_format = y['Date'].str.len() == 8
y.loc[odd_format, 'Date'] = y.loc[odd_format, 'Date'].apply(lambda x: f'{x[:4]}/{x[4:6]}/{x[6:]}')
y[22:]

    Duration          Date  Pulse  Maxpulse  Calories
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60    2020/12/26    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

2. Then convert the Date column to a datetime object.

In [97]:
y['Date'] = pd.to_datetime(y['Date'], format='mixed')
y.dtypes

Duration             int64
Date        datetime64[ns]
Pulse                int64
Maxpulse             int64
Calories           float64
dtype: object

3. Find if there are any duplicates

In [98]:
print(y.duplicated().sum())

1

4. Drop the duplicate and fix the missing index afterward.

In [99]:
y[10:15]

    Duration       Date  Pulse  Maxpulse  Calories
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3

In [100]:
y = y.drop_duplicates().reset_index(drop=True)
print(y.duplicated().sum())
y[10:15]

0

    Duration       Date  Pulse  Maxpulse  Calories
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-13    106       128     345.3
13        60 2020-12-14    104       132     379.3
14        60 2020-12-15     98       123     275.0

5. There is an anomalous value in the data. Replace it.

In [101]:
median = y["Duration"].median()
std = y["Duration"].std()
outliers = (y["Duration"] - median).abs() > std
outliers[3:10]

3    False
4    False
5    False
6    False
7     True
8    False
9    False
Name: Duration, dtype: bool

In [102]:
y[3:10]

   Duration       Date  Pulse  Maxpulse  Calories
3        45 2020-12-04    109       175     282.4
4        45 2020-12-05    117       148     406.0
5        60 2020-12-06    102       127     300.0
6        60 2020-12-07    110       136     374.0
7       450 2020-12-08    104       134     253.3
8        30 2020-12-09    109       133     195.1
9        60 2020-12-10     98       124     269.0

In [103]:
y.loc[outliers, 'Duration'] = median
y[3:10]

   Duration       Date  Pulse  Maxpulse  Calories
3        45 2020-12-04    109       175     282.4
4        45 2020-12-05    117       148     406.0
5        60 2020-12-06    102       127     300.0
6        60 2020-12-07    110       136     374.0
7        60 2020-12-08    104       134     253.3
8        30 2020-12-09    109       133     195.1
9        60 2020-12-10     98       124     269.0

6. Create a column that finds difference in Max Pulse and pulse

In [104]:
y['Maxpulse - Pulse'] = y['Maxpulse'] - y['Pulse']
y.head()

   Duration       Date  Pulse  Maxpulse  Calories  Maxpulse - Pulse
0        60 2020-12-01    110       130     409.1                20
1        60 2020-12-02    117       145     479.0                28
2        60 2020-12-03    103       135     340.0                32
3        45 2020-12-04    109       175     282.4                66
4        45 2020-12-05    117       148     406.0                31

7. Find how many calories they burned per second.

In [105]:
y['Calories per Second'] = y['Calories'] / y['Duration']
y.head()

,Duration,Date,Pulse,Maxpulse,Calories,Maxpulse - Pulse,Calories per Second
0,60,2020-12-01,110,130,409.1,20,6.818333
1,60,2020-12-02,117,145,479.0,28,7.983333
2,60,2020-12-03,103,135,340.0,32,5.666667
3,45,2020-12-04,109,175,282.4,66,6.275556
4,45,2020-12-05,117,148,406.0,31,9.022222

8. Sort the data frame by calories..

In [106]:
y.sort_values(by=['Calories']).head()

,Duration,Date,Pulse,Maxpulse,Calories,Maxpulse - Pulse,Calories per Second
8,30,2020-12-09,109,133,195.1,24,6.503333
15,60,2020-12-16,98,120,215.2,22,3.586667
26,60,2020-12-27,92,118,241.0,26,4.016667
19,45,2020-12-20,97,125,243.0,28,5.400000
30,60,2020-12-31,92,115,243.0,23,4.050000

9. Retrieve a subset of the dataframes where calories are higher than 400, less than 200 and between 200-300.

In [107]:
high_calories = y[y['Calories'] > 400]
low_calories = y[y['Calories'] < 200]
medium_calories = y[(y['Calories'] >= 200) & (y['Calories'] <= 300)]

In [108]:
high_calories

,Duration,Date,Pulse,Maxpulse,Calories,Maxpulse - Pulse,Calories per Second
0,60,2020-12-01,110,130,409.1,20,6.818333
1,60,2020-12-02,117,145,479.0,28,7.983333
4,45,2020-12-05,117,148,406.0,31,9.022222

In [109]:
low_calories

,Duration,Date,Pulse,Maxpulse,Calories,Maxpulse - Pulse,Calories per Second
8,30,2020-12-09,109,133,195.1,24,6.503333

In [110]:
medium_calories

,Duration,Date,Pulse,Maxpulse,Calories,Maxpulse - Pulse,Calories per Second
3,45,2020-12-04,109,175,282.4,66,6.275556
5,60,2020-12-06,102,127,300.0,25,5.000000
7,60,2020-12-08,104,134,253.3,30,4.221667
9,60,2020-12-10,98,124,269.0,26,4.483333
11,60,2020-12-12,100,120,250.7,20,4.178333
14,60,2020-12-15,98,123,275.0,25,4.583333
15,60,2020-12-16,98,120,215.2,22,3.586667
16,60,2020-12-17,100,120,300.0,20,5.000000
19,45,2020-12-20,97,125,243.0,28,5.400000
21,45,NaT,100,119,282.0,19,6.266667
22,60,2020-12-23,130,101,300.0,-29,5.000000
23,45,2020-12-24,105,132,246.0,27,5.466667
25,60,2020-12-26,100,120,250.0,20,4.166667
26,60,2020-12-27,92,118,241.0,26,4.016667
28,60,2020-12-29,100,132,280.0,32,4.666667
30,60,2020-12-31,92,115,243.0,23,4.050000

10. Find Unique values in duration

In [111]:
print(y['Duration'].unique())

[60 45 30]

11. Count how many missing values are there in the dataframe.

In [112]:
y.isnull().sum()

Duration               0
Date                   1
Pulse                  0
Maxpulse               0
Calories               2
Maxpulse - Pulse       0
Calories per Second    2
dtype: int64

In [113]:
y

,Duration,Date,Pulse,Maxpulse,Calories,Maxpulse - Pulse,Calories per Second
0,60,2020-12-01,110,130,409.1,20,6.818333
1,60,2020-12-02,117,145,479.0,28,7.983333
2,60,2020-12-03,103,135,340.0,32,5.666667
3,45,2020-12-04,109,175,282.4,66,6.275556
4,45,2020-12-05,117,148,406.0,31,9.022222
5,60,2020-12-06,102,127,300.0,25,5.000000
6,60,2020-12-07,110,136,374.0,26,6.233333
7,60,2020-12-08,104,134,253.3,30,4.221667
8,30,2020-12-09,109,133,195.1,24,6.503333
9,60,2020-12-10,98,124,269.0,26,4.483333
10,60,2020-12-11,103,147,329.3,44,5.488333
11,60,2020-12-12,100,120,250.7,20,4.178333
12,60,2020-12-13,106,128,345.3,22,5.755000
13,60,2020-12-14,104,132,379.3,28,6.321667
14,60,2020-12-15,98,123,275.0,25,4.583333
15,60,2020-12-16,98,120,215.2,22,3.586667
16,60,2020-12-17,100,120,300.0,20,5.000000
17,45,2020-12-18,90,112,NaN,22,NaN
18,60,2020-12-19,103,123,323.0,20,5.383333
19,45,2020-12-20,97,125,243.0,28,5.400000
20,60,2020-12-21,108,131,364.2,23,6.070000
21,45,NaT,100,119,282.0,19,6.266667
22,60,2020-12-23,130,101,300.0,-29,5.000000
23,45,2020-12-24,105,132,246.0,27,5.466667
24,60,2020-12-25,102,126,334.5,24,5.575000
25,60,2020-12-26,100,120,250.0,20,4.166667
26,60,2020-12-27,92,118,241.0,26,4.016667
27,60,2020-12-28,103,132,NaN,29,NaN
28,60,2020-12-29,100,132,280.0,32,4.666667
29,60,2020-12-30,102,129,380.3,27,6.338333
30,60,2020-12-31,92,115,243.0,23,4.050000

In [ ]:
# y.dropna(inplace=True)