cereals.csv

In [56]:
import pandas as pd

In [57]:

cereals = pd.read_csv('./datasets/task_1/cereals.csv')

1. Group the cereals, using the Manufacturer columnâ€™s values.

In [58]:
m = cereals.groupby("Manufacturer")
print(m.first())

                                                Name  Type  Calories  Fiber  \
Manufacturer
American Home Food Products                    Maypo   Hot       100    0.0
General Mills                Apple Cinnamon Cheerios  Cold       110    1.5
Kellogg's                                   All-Bran  Cold        70    9.0
Nabisco                                    100% Bran  Cold        70   10.0
Post                                     Bran Flakes  Cold        90    5.0
Quaker Oats                        100% Natural Bran  Cold       120    2.0
Ralston Purina                        Almond Delight  Cold       110    1.0

                             Sugars
Manufacturer
American Home Food Products       3
General Mills                    10
Kellogg's                         5
Nabisco                           6
Post                              5
Quaker Oats                       8
Ralston Purina                    8

2. Determine the total number of groups, and the number of cereals per group.

In [59]:
cereals["Manufacturer"].nunique()

7

In [60]:
len(m)

7

In [61]:
m['Name'].size()

Manufacturer
American Home Food Products     1
General Mills                  22
Kellogg's                      23
Nabisco                         6
Post                            9
Quaker Oats                     8
Ralston Purina                  8
Name: Name, dtype: int64

3. Extract the cereals that belong to the manufacturer/group "Nabisco".

In [62]:
m.get_group("Nabisco")['Name']

0                     100% Bran
20       Cream of Wheat (Quick)
63               Shredded Wheat
64       Shredded Wheat 'n'Bran
65    Shredded Wheat spoon size
68      Strawberry Fruit Wheats
Name: Name, dtype: object

4. Calculate the average of values in the Calories, Fiber, and Sugars columns for each manufacturer.

In [63]:
m[["Calories", "Fiber", "Sugars"]].mean()

                               Calories     Fiber    Sugars
Manufacturer
American Home Food Products  100.000000  0.000000  3.000000
General Mills                111.363636  1.272727  7.954545
Kellogg's                    108.695652  2.739130  7.565217
Nabisco                       86.666667  4.000000  1.833333
Post                         108.888889  2.777778  8.777778
Quaker Oats                   95.000000  1.337500  5.250000
Ralston Purina               115.000000  1.875000  6.125000

5. Find the maximum value in the Sugars column for each manufacturer.

In [64]:
m["Sugars"].max()

Manufacturer
American Home Food Products     3
General Mills                  14
Kellogg's                      15
Nabisco                         6
Post                           15
Quaker Oats                    12
Ralston Purina                 11
Name: Sugars, dtype: int64

6. Find the minimum value in the Fiber column for each manufacturer.

In [65]:
m['Fiber'].min()

Manufacturer
American Home Food Products    0.0
General Mills                  0.0
Kellogg's                      0.0
Nabisco                        1.0
Post                           0.0
Quaker Oats                    0.0
Ralston Purina                 0.0
Name: Fiber, dtype: float64

7. Extract the cereal with the lowest amount of grams of sugar per manufacturer in a new DataFrame.

In [66]:
def lowest_sugar(df):
    return df.nsmallest(1, "Sugars")
m.apply(lowest_sugar)

C:\Users\Yakina\AppData\Local\Temp\ipykernel_14764\1938034751.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  m.apply(lowest_sugar)

,,Name,Manufacturer,Type,Calories,Fiber,Sugars
Manufacturer,,,,,,,
American Home Food Products,43,Maypo,American Home Food Products,Hot,100,0.0,3
General Mills,11,Cheerios,General Mills,Cold,110,2.0,1
Kellogg's,3,All-Bran with Extra Fiber,Kellogg's,Cold,50,14.0,0
Nabisco,20,Cream of Wheat (Quick),Nabisco,Hot,100,1.0,0
Post,33,Grape-Nuts,Post,Cold,110,3.0,3
Quaker Oats,57,Quaker Oatmeal,Quaker Oats,Hot,100,2.7,-1
Ralston Purina,61,Rice Chex,Ralston Purina,Cold,110,0.0,2

In [70]:
lowest_sugar = cereals.loc[m['Sugars'].idxmin()]
print(lowest_sugar[['Name', 'Manufacturer', 'Sugars']].to_string(index=False))

                     Name                Manufacturer  Sugars
                    Maypo American Home Food Products       3
                 Cheerios               General Mills       1
All-Bran with Extra Fiber                   Kellogg's       0
   Cream of Wheat (Quick)                     Nabisco       0
               Grape-Nuts                        Post       3
           Quaker Oatmeal                 Quaker Oats      -1
                Rice Chex              Ralston Purina       2